h1{
	padding-top:20px;
	font-family: sans-serif;
}
.p{
	padding-left: 30px;
	width:70%;
	text-indent:10px;
	font-family:sans-serif;
}
.instructions{
	padding-left:30px;
	width:70%;
	font-family:sans-serif;
}
img{
	padding-left:20px;
}
.bottom{
	padding-left:20px;
	padding-bottom:20px;
}
h2,h4{
	font-family: sans-serif;
}